#bg_1{
    background-image: url('copy_download.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#bg_2{
  background-image: url('wish_bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#bg_3{
  background-image: url('photo-1528459584353-5297db1a9c01.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

#bg_4{
  background-image: url('friends-reunion-4k_1603398352.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hover_shadow:hover{
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

#calendar{
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

#form_para{
    font-size: 6rem;
    font-weight: 400;
    font-family: 'Lobster', cursive;
}

#date_heading{
    font-size: 5rem;
    font-weight: 500;
    color: #fff;
    text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#form_div{
    background-color: rgba(255, 255, 255, 0.602);
    box-shadow: 0 15px 25px rgba(0,0,0,0.5);
    margin-bottom: 5rem;
}

#from_p{
  font-family: 'Merienda', cursive;
}

#heart{
  color: rgb(228, 10, 10);
  text-shadow: 7px 5px 10px rgba(2, 1, 1, 0.842);
}

#r1c2{
  padding: 3rem 3rem;
}

/* PAGE 2 CSS */

#text1{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
  font-size: 130px;
  text-align: center;
  padding: 15px 0;
  position: relative;
  animation: text 3s 1;
}
#text2{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
  font-size: 130px;
  text-align: center;
  padding: 15px 0;
  position: relative;
  animation: text 3s 1;
}
#text3{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 8px;
  text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
  font-size: 130px;
  text-align: center;
  padding: 15px 0;
  position: relative;
  animation: text 3s 1;
}
@keyframes text{
  0%{
    opacity: .1;
  }
  30%{
    letter-spacing: 25px;
  }
  85%{
    letter-spacing: 8px;
  }
}

#form2_div{
  background-color: rgba(255, 255, 255, 0.602);
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

#form2_para{
  font-size: 5rem;
  font-family: 'Dancing Script', cursive;
}

#last{
  font-size: 6rem;
  font-family: 'Nosifer', cursive;
  text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
  color: rgba(255, 255, 255, 0.801);
  font-weight: 600;
}

#container1{
  padding: 0px 3px;
}

#row1{
  margin: 0px -40px
}

.dec_padding{
  padding: 0px 0px;
}


/* PAGE 3 CSS */

#main_heading{
    letter-spacing: 8px;
    text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
    color: rgb(24, 192, 192);
    font-weight: 600;
    text-decoration: underline rgb(192, 1, 1);
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-size: 6rem;
  }

  .card-text{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: 700;
  }


  /* PAGE 4 CSS */

  #text5{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 8px;
    text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
    font-size: 130px;
    text-align: center;
    padding: 15px 0;
  }

  #profile_pic{
    width: 90px;
    height: 90px;
    border-radius: 50%;
  }

  #inputpassword{
    width: 50%;
    box-shadow: inset 8px 8px 8px #bdc0c2, inset -8px -8px 8px rgb(236, 235, 235);
  }

  #pass_div{
    background-color: #00000096;
    border-radius: 10px;
  }

  #enter_btn:hover{
    background-color: rgb(3, 189, 28);
  }

  /* PAGE 4(1) CSS */
  #span_div span{
    color: white;
    display: block;
  }

  #upper{
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 5px;
    background-color: #1a1a33;
    position: relative;
    animation: textdown 3s 1;
  }

  @keyframes textdown{
    0%{
      color: #1c1c31;
      margin-bottom: -107px;
    }
    30%{
      letter-spacing: 25px;
      margin-bottom: -107px;
    }
    85%{
      letter-spacing: 8px;
      margin-bottom: -107px;
    }
  }

  #lower{
    font-size: 4rem;
  }
  
  #content {
    width: 60%;
    height: 100%;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.788);
    background: #ffffff1a;
    color: white;
  }

  #content_heading{
    color: #fff;
  }

  #content_para{
    font-family: 'Arya', sans-serif;
    font-size: 20px;
  }

  #content_diff{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  #img1 {
    width: 40%;
    border: .5rem solid white;
  }

  #img2 {
    width: 40%;
    border: .5rem solid white;
  }

  #img3 {
    width: 40%;
    border: .5rem solid white;
  }


  /* PAGE_5 PAGE */

 #love_text{
   font-size: 6rem;
   font-weight: 700;
   color: rgb(194, 0, 0);
 }

 #heart2{
  color: rgb(228, 10, 10);
  text-shadow: 2px 3px 10px rgba(66, 66, 66, 0.842);
}

#animated_text p::after{
  content: 'YOU & ME';
  animation: text 10s infinite;
}

@keyframes text{
  50%{
    content: 'FOREVER';
  }
  51%{
    content: 'B2GETHER';
  }
}

#animated_text p{
  font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 700;
    letter-spacing: 8px;
    text-shadow: 5px 5px 10px rgba(2, 1, 1, 0.842);
    font-size: 50px;
}

#card_para{
  /* border: .1rem solid black;
  box-shadow: 3px 5px 4px rgba(0, 0, 0, 0.678); */
  font-size: 4rem;
  font-weight: 700;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

#card_img{
  border: 1rem solid rgb(0, 0, 0);
}

 /* PAGE_6 PAGE */

 #care{
   width: 100%;
   height: 100%;
   background-color: #10252f;
 }

 .specify{
  position: relative;
  font-size: 130px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: white;
  text-shadow: 4px 2px 7px black;

 }

 #voice_text{
  font-family: 'Dancing Script', cursive;
  color: white;
  font-weight: 700;
  letter-spacing: 8px;
  font-size: 130px;
  text-align: center;
  padding: 15px 0;
  position: relative;
}

#title{
  background: none;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: inset 8px 8px 8px rgba(2, 2, 2, 0.561),inset -8px -8px 8px rgba(17, 17, 17, 0.507);
}

#description{
  background: none;
  border: none;
  margin-top: 10px;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: inset 8px 8px 8px rgba(2, 2, 2, 0.561),inset -8px -8px 8px rgba(17, 17, 17, 0.507);
}

#comment_content{
  position: relative;
  height: 125px;
  overflow: hidden;
}

.main_comment.active #comment_content{
  height: auto;
}

#comment_content::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: linear-gradient(transparent,#10252f);
}

.main_comment.active #comment_content::before{
  display: none;
}

.more{
  width: 130px;
  position: relative;
  display: inline-block;
  color: white;
  text-decoration: none;
  box-shadow: 0 -10px 15px rgba(255, 255, 255, 0.089),inset 0 -10px 15px rgba(255, 255, 255, 0.061),0 12px 15px rgba(0, 0, 0, 0.267),inset 0 12px 15px rgba(0, 0, 0, 0.267);
}

.more:hover{
  box-shadow: -3px -5px 7px rgb(255 255 255 / 9%), inset -3px -5px 7px rgb(255 255 255 / 6%), 3px 5px 7px rgb(0 0 0 / 27%), inset 3px 5px 7px rgb(0 0 0 / 27%);
}

.more:hover{
  color: white;
}

.more::before{
  content: 'Show More...';
    padding: 0px 6px;
}

.main_comment.active .more::before{
  content: 'Show Less...';
    padding: 0px 6px;
}

#neu_box1{
  border-radius: 1rem;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.089),inset 0 -15px 15px rgba(255, 255, 255, 0.061),0 15px 15px rgba(0, 0, 0, 0.267),inset 0 15px 15px rgba(0, 0, 0, 0.267);
}

#neu_box2{
  border-radius: 1rem;
  box-shadow: 0 -15px 15px rgba(255, 255, 255, 0.089),inset 0 -15px 15px rgba(255, 255, 255, 0.061),0 15px 15px rgba(0, 0, 0, 0.267),inset 0 15px 15px rgba(0, 0, 0, 0.267);
}

#add{
  color: white;
  background: none;
  box-shadow: -3px -5px 7px rgb(255 255 255 / 9%), inset -3px -5px 7px rgb(255 255 255 / 6%), 3px 5px 7px rgb(0 0 0 / 27%), inset 3px 5px 7px rgb(0 0 0 / 27%);
}

#clear{
  color: white;
  background: none;
  box-shadow: -3px -5px 7px rgb(255 255 255 / 9%), inset -3px -5px 7px rgb(255 255 255 / 6%), 3px 5px 7px rgb(0 0 0 / 27%), inset 3px 5px 7px rgb(0 0 0 / 27%);
}

#heart_para{
  color: white;
  font-weight: 700;
}

.heart3{
  color: rgb(177, 25, 25);
  margin-left: 5px;
  margin-right: 7px;
}
